body {
  font-family: "Nico Moji";
  background-color: white;
  background-image: url('wazo2.jpg');
  background-position: 100ï¼…;
  background-attachment: fixed;
}

h1 {
  color:rgba(22, 22, 22, 0.4);
  font-size: 35px;
  text-align: left;
  margin-right: 80px;
}

.left {
  width: 800pxe
}
.right {
  width: 100%;
}

.account-card {
  background: white;
  opacity: 0.2;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
}

.sender-card {
  background: white;
  opacity: 0.2;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
}

.tx-card {
  background: white;
  opacity: 0.2CAA;
  border-radius: 16px;
  padding: 32px;
  width: 1200px;
  margin: 16px;
}

.textfiled-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.textfiled {
  width: 400px;
}

#wallet-addr {
  font-size: 24px;
}

.container {
  font-size: 24px;
  margin: 16px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 80px;
}
