body {
  font-family: "Nico Moji";
}

.cd-fixed-bg {
    position: relative;
    min-height: 100%;
    /*--height: 400px;　スクロールをさせるため 高さ指定--*/
    background-size: cover; /*--背景画像のサイズ--*/
    background-attachment: fixed; /*--背景画像の固定--*/
    background-repeat: no-repeat; /*--背景画像の繰り返し--*/
    background-position: center center; /*--背景画像の位置--*/
	z-index: 2;
    padding: 5em 0;
}

.cd-fixed-bg.cd-bg-1  {
  background-image: url('wazo.jpeg');
}


h1 {
  color:rgba(22, 22, 22, 0.4);
  font-size: 35px;
  text-align: left;
  margin-right: 80px;
}

.left {
  width: 800pxe
}
.right {
  width: 100%;
}

.account-card {
  background: white;
  opacity: 0.5;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
}

.sender-card {
  background: white;
  opacity: 0.5;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
}

.tx-card {
  background: white;
  opacity: 0.5;
  border-radius: 16px;
  padding: 32px;
  width: 1200px;
  margin: 16px;
}

.textfiled-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.textfiled {
  width: 400px;
}

#wallet-addr {
  font-size: 24px;
}

.container {
  font-size: 24px;
  margin: 16px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 80px;
}
